@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
}

.max-width {
  max-width: 1300px;
  padding: 0 80px;
  margin: auto;
}

.navbar {
  position: fixed;
  width: 100%;
  padding: 30px 0;
  z-index: 999;
  font-family: 'Ubuntu', sans-serif;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
}

.navbar .max-width {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.navbar .logo a {
  color: #fff;
  font-size: 35px;
  font-weight: 600;
}

.navbar .logo a span {
  color: linear-gradient(to right, #6a11cb 0%, #2575fc 100%);
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
}

.navbar .menu li {
  list-style: none;
  display: inline-block;
}

.navbar .menu li a {
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  margin-left: 25px;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
}

.navbar .menu li a:hover {
  color: #6a11cb;
}

.sticky {
  padding: 15px 0;
  -webkit-backdrop-filter: saturate(180%) blur(20px);
          backdrop-filter: saturate(180%) blur(20px);
  background: rgba(0, 0, 0, 0.5);
}

.sticky .logo a span {
  color: #e1e1e6;
}

.sticky .menu li a:hover {
  color: #e1e1e6;
}

.menu-btn {
  color: #e1e1e6;
  font-size: 23px;
  cursor: pointer;
  display: none;
}

.scroll-up-btn {
  position: fixed;
  height: 45px;
  width: 42px;
  background: #6a11cb;
  right: 30px;
  bottom: 30px;
  text-align: center;
  line-height: 45px;
  color: #fff;
  z-index: 9999;
  font-size: 30px;
  cursor: pointer;
  border-radius: 50px;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.scroll-up-btn.show {
  bottom: 30px;
  opacity: 1;
  pointer-events: auto;
}

#particles-js {
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, right top, left top, from(#09090a), to(#121214));
  background: linear-gradient(270deg, #09090a, #121214);
  background-size: cover;
  background-position: 50% 50%;
  position: fixed;
  top: 0px;
  z-index: -1;
}

.home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  color: white;
  min-height: 500px;
  font-family: 'Ubuntu', sans-serif;
}

.home .max-width {
  margin: auto 0 auto 40px;
}

.home .home-content .text-1 {
  font-size: 27px;
}

.home .home-content .text-2 {
  font-size: 75px;
  font-weight: 600px;
  margin-left: 5px 0;
}

.home .home-content .text-3 {
  font-size: 40px;
  margin: 5px 0;
}

.home .home-content .text-3 span {
  color: #8615ff;
  font-weight: 500;
}

.home .home-content a {
  display: inline-block;
  color: #fff;
  background: #6a11cb;
  font-size: 25px;
  padding: 12px 36px;
  margin-top: 20px;
  border-radius: 6px;
  border: 2px solid #6a11cb;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
}

.home .home-content a:hover {
  color: #6a11cb;
  background: none;
}

section {
  padding: 100px 0;
}

.about, .services, .skills, .formation, .contact, footer {
  font-family: 'Poppins', sans-serif;
}

.about .about-content,
.formation .formation-content,
.services .serv-content,
.skills .skills-content,
.contact .contact-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

section .title {
  color: #e1e1e6;
  position: relative;
  text-align: center;
  font-size: 40px;
  font-weight: 500;
  margin-bottom: 60px;
  padding-bottom: 20px;
  font-family: 'Ubuntu', sans-serif;
}

section .title::before {
  content: "";
  position: absolute;
  bottom: 0px;
  left: 50%;
  width: 180px;
  height: 3px;
  background: #e1e1e6;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

section .title::after {
  position: absolute;
  bottom: -12px;
  left: 50%;
  font-size: 20px;
  color: #8615ff;
  padding: 5px;
  background: #121214;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.about {
  background: #121214;
}

.about .about-content .left {
  width: 45%;
}

.about .about-content .left img {
  height: 400px;
  width: 400px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 6px;
}

.about .about-content .right {
  width: 55%;
}

.about .about-content .right .text {
  color: #e1e1e6;
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 10px;
}

.about .about-content .right .text span {
  color: #8615ff;
}

.about .about-content .right p {
  color: #e1e1e6;
  text-align: justify;
}

.about .about-content .right a {
  display: inline-block;
  color: #e1e1e6;
  background: #6a11cb;
  font-size: 20px;
  font-weight: 500;
  padding: 10px 30px;
  margin-top: 20px;
  border-radius: 6px;
  border: 2px solid #6a11cb;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
}

.about .about-content .right a:hover {
  color: #6a11cb;
  background: none;
}

.about .title::after {
  content: "who i am";
}

.skills .title::after {
  content: "What i know";
  color: #8615ff;
  background: #111;
}

.skills {
  background: -webkit-gradient(linear, right top, left top, from(#121214), to(#09090a));
  background: linear-gradient(270deg, #121214, #09090a);
}

.skills .title {
  color: #e1e1e6;
}

.skills .skills-content .column {
  width: calc(50% - 30px);
}

.skills .skills-content .left p {
  text-align: justify;
  color: #e1e1e6;
}

.skills .skills-content .left a {
  display: inline-block;
  color: #e1e1e6;
  background: #6a11cb;
  font-size: 20px;
  font-weight: 500;
  padding: 8px 16px;
  margin-top: 20px;
  border-radius: 6px;
  border: 2px solid #6a11cb;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
}

.skills .skills-content .left .text {
  color: #e1e1e6;
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 10px;
}

.skills .skills-content .right .bars {
  margin-bottom: 15px;
}

.skills .skills-content .right .info {
  color: #e1e1e6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 5px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.skills .skills-content .right span {
  font-weight: 500;
  font-size: 18px;
}

.skills .skills-content .right .line {
  height: 5px;
  width: 100%;
  background: lightgrey;
  position: relative;
}

.skills .skills-content .left a:hover {
  color: #6a11cb;
  background: none;
}

.skills .skills-content .right .line::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 80%;
  left: 0;
  top: 0;
  background: -webkit-gradient(linear, left top, right top, from(#6a11cb), to(#2575fc));
  background: linear-gradient(to right, #6a11cb 0%, #2575fc 100%);
}

.skills .title::before {
  background: #fff;
}

.skills .skills-content .right .html::before {
  width: 90%;
}

.skills .skills-content .right .css::before {
  width: 85%;
}

.skills .skills-content .right .javaScript::before {
  width: 90%;
}

.skills .skills-content .right .typeScript::before {
  width: 80%;
}

.skills .skills-content .right .mysql::before {
  width: 70%;
}

.formation .title::after {
  content: "What i know";
  color: #6a11cb;
}

.formation {
  background: #121214;
}

.formation .carousel .card {
  background: #333;
  border-radius: 6px;
  padding: 25px 35px;
  text-align: center;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
}

.formation .carousel .card img {
  height: 150px;
  width: 150px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
  border: 5px solid #8615ff;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
}

.formation .carousel .card .box {
  color: #e1e1e6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
}

.formation .carousel .card .text {
  font-size: 25px;
  font-weight: 500;
  margin: 10px 0 7px 0;
}

.owl-dots {
  text-align: center;
  margin-top: 20px;
}

.owl-dot {
  height: 13px;
  width: 13px;
  margin: 0 5px;
  outline: none !important;
  border-radius: 50%;
  border: 2px solid #6a11cb !important;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
}

.owl-dot.active {
  width: 35px;
  border-radius: 14px;
}

.owl-dot.active,
.owl-dot:hover {
  background: #6a11cb !important;
}

.formation .carousel .card:hover {
  background: #6a11cb;
}

.formation .carousel .card:hover .box {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.formation .carousel .card:hover img {
  border-color: #e1e1e6;
}

.services {
  color: #fff;
  background: #111;
}

.services .serv-content .card {
  width: calc(33% - 20px);
  background: #222;
  text-align: center;
  border-radius: 6px;
  padding: 20px 25px;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.services .serv-content .card .box {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.services .serv-content .card i {
  font-size: 50px;
  color: #6a11cb;
}

.services .serv-content .card .text {
  font-size: 25px;
  font-weight: 500;
  margin: 10px 0 7px 0;
}

.services .title::before {
  background: #fff;
}

.services .title::after {
  background: #111;
  content: "O que eu faço";
}

.services .serv-content .card:hover {
  background: #6a11cb;
}

.services .serv-content .card:hover .box {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.contact .title::after {
  content: "Get in touth";
  color: #e1e1e6;
}

.contact {
  background: #121214;
}

.contact .right form .textarea {
  height: 80px;
  width: 100%;
}

.contact .right form .name {
  margin-right: 10px;
}

.contact .right form .email {
  margin-left: 10px;
}

.contact .right form .fields {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contact .right form .field {
  height: 45px;
  width: 100%;
  margin-bottom: 15px;
}

.contact .right form .field input {
  background: #e1e1e6;
  height: 100%;
  width: 100%;
  border: 1px solid lightgray;
  border-radius: 6px;
  outline: none;
  padding: 0 15px;
  font-size: 17px;
  font-family: 'Poppins', sans-serif;
}

.contact .right form .button {
  height: 47px;
  width: 170px;
}

.contact .right form .button button {
  width: 100%;
  height: 100%;
  border: 2px solid #6a11cb;
  background: #6a11cb;
  color: #e1e1e6;
  font-size: 20px;
  font-weight: 500;
  border-radius: 6px;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.contact .right form .textarea textarea {
  height: 100%;
  width: 100%;
  background: #e1e1e6;
  border: 1px solid lightgray;
  border-radius: 6px;
  outline: none;
  padding: 0 15px;
  font-size: 17px;
  font-family: 'Poppins', sans-serif;
  padding-top: 10px;
  resize: none;
}

.contact .right form .button button:hover {
  color: #6a11cb;
  background: none;
}

.contact-content .column {
  width: calc(50% - 30px);
}

.contact-content .text {
  color: #e1e1e6;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
}

.contact-content .left p {
  color: #e1e1e6;
  text-align: justify;
}

.contact-content .left .icons {
  margin: 10px 0;
}

.contact-content .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 65px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact-content .row .info {
  color: #e1e1e6;
  margin-left: 30px;
}

.contact-content .row .info .head {
  font-weight: 500;
}

.contact-content .row .info .sub-title {
  color: #e1e1e6;
}

.contact-content .row i {
  font-size: 25px;
  color: #6a11cb;
}

footer {
  background: -webkit-gradient(linear, right top, left top, from(#121214), to(#09090a));
  background: linear-gradient(270deg, #121214, #09090a);
  padding: 20px 23px;
  color: #e1e1e6;
  text-align: center;
}

footer span a {
  color: #6a11cb;
  text-decoration: none;
}

footer span a:hover {
  text-decoration: underline;
}

@media (max-width: 1300px) {
  .home .max-width {
    margin-left: 0px;
  }
}

@media (max-width: 1104px) {
  .about .about-content .left img {
    height: 350px;
    width: 350px;
  }
}

@media (max-width: 991px) {
  .max-width {
    padding: 0 50px;
  }
}

@media (max-width: 947px) {
  .menu-btn {
    display: block;
    z-index: 999;
  }
  .menu-btn i.active:before {
    content: "\f00d";
  }
  .navbar .menu {
    position: fixed;
    height: 100vh;
    width: 100%;
    left: -100%;
    top: 0;
    background: #111;
    text-align: center;
    padding-top: 80px;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  .navbar .menu li {
    display: block;
  }
  .navbar .menu li a {
    display: inline-block;
    margin: 20px 0;
    font-size: 25px;
  }
  .navbar .menu.active {
    left: 0;
  }
  .home .home-content .text-2 {
    font-size: 70px;
  }
  .home .home-content .text-3 {
    font-size: 35px;
  }
  .home .home-content a {
    font-size: 23px;
    padding: 10px 30px;
  }
  .max-width {
    max-width: 800px;
  }
  .about .about-content .column {
    width: 100%;
  }
  .about .about-content .left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 0 auto 60px;
  }
  .about .about-content .right {
    -webkit-box-flex: 100%;
        -ms-flex: 100%;
            flex: 100%;
  }
  .formation .formation-content .card {
    width: calc(50% - 10px);
    margin-bottom: 20px;
  }
  .services .serv-content .card {
    width: calc(50% - 10px);
    margin-bottom: 20px;
  }
  .skills .skills-content .column,
  .contact .contact-content .column {
    width: 100%;
    margin-bottom: 35px;
  }
}

@media (max-width: 690px) {
  .max-width {
    padding: 0 23px;
  }
  .home .home-content .text-2 {
    font-size: 60px;
  }
  .home .home-content .text-3 {
    font-size: 32px;
  }
  .home .home-content a {
    font-size: 20px;
    padding: 9px 25px;
  }
  .formation .formation-content .card {
    width: 100%;
  }
  .services .serv-content .card {
    width: 100%;
  }
}

@media (max-width: 500px) {
  .max-width {
    padding: 0 23px;
  }
  .home .home-content .text-2 {
    font-size: 50px;
  }
  .home .home-content .text-3 {
    font-size: 27px;
  }
}
/*# sourceMappingURL=style.css.map */